<!-- 
<div>
<button class="btn btn-info" style="background-color: #555555;color:#EE6837"  ng-model="collapsed1" ng-click="collapsed1=!collapsed1">

                            <i class="fa fa-bell fa-fw"></i> Notifications Panel </button> 
   <div class="panel-body" ng-hide="collapsed1"> 
   <div>
   									
                                    
                                    <span class="pull-left text small">Task 123 is changed</span>
                                    <br />
                                    <span class="pull-left text-muted small"> 1 minute ago</span><br />
                                    <button class="pull-right text small"><img style="width:10px;height:10px;" src = "../img/notification/cancel.png"></button>
                                	<button class="pull-right text small"><img  style="width:10px;height:10px;" src = "../img/notification/tick.png"></button>
                                    <hr color="white">
                                    </div>
                                      <div>
   									
                                    
                                    <span class="pull-left text small">Task 345 is changed</span>
                                    <br />
                                    <span class="pull-left text-muted small"> 1 minute ago</span><br />
                                    <button class="pull-right text small"><img style="width:10px;height:10px;" src = "../img/notification/cancel.png"></button>
                                	<button class="pull-right text small"><img  style="width:10px;height:10px;" src = "../img/notification/tick.png"></button>
                                    <hr color="white">
                                    </div>
                                      <div>
   									
                                    
                                    <span class="pull-left text small">Task 567 is changed</span>
                                    <br />
                                    <span class="pull-left text-muted small"> 1 minute ago</span><br />
                                    <button class="pull-right text small"><img style="width:10px;height:10px;" src = "../img/notification/cancel.png"></button>
                                	<button class="pull-right text small"><img  style="width:10px;height:10px;" src = "../img/notification/tick.png"></button>
                                    <hr color="white">
                                    </div>
<div ng-repeat="message in messages | startFrom:currentPage*pageSize | limitTo:pageSize">
                          
                                <div ng-click="notificationClick(message)">
                                	
                                    
                                    <span class="pull-left text small">{{message.text}}</span>
                                    <br />
                                    <span class="pull-left text-muted small"> {{message.timeStamp}}</span><br />
                                    
                                    <button class="pull-right text small" ng-click="reject()"><img style="width:10px;height:10px;" src = "../img/notification/cancel.png"></button>
                                	<button class="pull-right text small" ng-click="accept()"><img  style="width:10px;height:10px;" src = "../img/notification/tick.png"></button>
                                    <hr color="red">
                              
                                </div>
                          
                          
                            </div>
                      <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= messages.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
						</div>
						</div>
		

 -->

 	
